/* Eu não faço a menor ideia de como fazer um css legal. */

Screen {
    align: center middle;
}

/* colunas, linhas no grid-size */

/* se colocar o min-height e min-width, o programa automaticamente
coloca um scroolwindow. O porquê disso não sei */


/* nao altere: grid-gutter(espaçamento entre objetos) heigth */
/* com 'padding: 1' precisa do height: 5, e sem padding -> 'height: 3' */
#botoes_tela_principal1 {
    layout: grid;
    grid-size: 4 0;
    border: round $warning;
    height: 5;
}

#botoes_tela_principal2 {
    layout: grid;
    grid-size: 4 0;
    border: round $warning;
    height: 5;
}

#container_progresso {
    layout: grid;
    grid-size: 0 3;
    height: 6;
}

#leitor_tela_principal {
    grid-gutter: 1 1;
    border: panel $warning;
    border-title-align: center;
    padding: 1 1;
    align: center middle;
    min-height: 15;
    min-width: 25;
}

#grid_boas_vindas {
    border: panel $warning;
    border-title-align: center;
    align: center middle;
}

#vertical_carregamento {
    grid-size: 0 2;
    grid-gutter: 1 2;
    border: panel $warning;
    border-title-align: center;
    align: center middle;
}

#loading_carregamento {
    height: 3;
    width: 20;
}

#label_boas_vindas {
    border: round $warning;
    min-height: 12;
}

#label_sentencas {
    min-height: 3;
}

#label_erro {
    width: 100%;
    border: round $error;
    align: center middle;
}

#label_carregando {
    margin: 0 5;
}

Button {
    text-align: center;
}